a{
  text-decoration:none;
}

.outer-frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 320px;
  background-color: rgb(222, 222, 222);
  position: absolute;
  left: 40%;
}
.outer-frame .inner-frame{
  /* background-color: aqua; */
  /* width: 500px; */
}
header{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  background-color: #fcbd01;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  margin: 10px;
}
.content{
  justify-content: center;
  background-color: #fffbd6;
  width: 300px;
  border-radius: 10px;
  /* margin: 10px; */
  /* padding: 10px; */
}
.context-control{
  justify-content: center;
}

.bottom-nav{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-nav .main-btn .a{
  /* position: absolute; 
  top: 0;
  bottom: 0;
  right: 0; */
}

.outer-content{
  background-color: #ffc876;
  padding: 5px;
  
}

.main-btn {
  width: 90px;
  height: 30px;
  background-color: orange;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  position: relative;
}
.main-btn a{
  color: #000;
  font-size: 16px;
}
.wrap-sub-btn{
  display: flex;
}

.sub-btn {
  width: 80px;
  height: 25px;
  background-color: #ffd977;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}

.sub-btn a{
  color: #000;
  font-size: 14px;
}